# Sistema de recomendaciones basado en Contenido
## Universidad del Valle de Guatemala <br> Facultad de Ingeniería
#### Departamento de Ciencias de la Computación <br> Deep Learning y Sistemas Inteligentes - Sección 20 <br><br> Jeyner Arango 201106 <br> Cristian Laynez 201281

In [5]:
# Importar las librerias
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Embedding, Flatten, Dense, Concatenate

2023-11-04 00:25:08.963512: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-11-04 00:25:09.403154: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-11-04 00:25:09.406637: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-11-04 00:25:12.272647: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [3]:
data_frame = pd.read_csv("./data/_AllData.csv")
data_frame.head()

,User-ID,ISBN,Book-Rating,Book-Title,Location,Age
0,104433,57188,0,Flesh Tones: A Novel,23539,NaN
1,104434,29750,5,Rites of Passage,20745,NaN
2,104435,107392,0,The Notebook,9399,16.0
3,104436,127253,3,Help!: Level 1,19243,16.0
4,104436,127287,6,The Amsterdam Connection : Level 4 (Cambridge ...,19243,16.0

### Ahora vamos a construir un modelo para crear el sistema de recomendación

In [7]:
# Conjunto de prueba y entrenamiento
train_data, test_data = train_test_split(data_frame, test_size=0.2, random_state=42)